.container {
  color: white;
  display: flex;
  flex-direction: column;
  background-color: #1c1e1e;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(158, 32, 167, 0.7);
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.container:hover {
  transform: scale(1.05);
}

.imagen {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.genresContainer {
  display: flex;
  justify-content: space-around;

  flex-wrap: wrap;
}
