.container {
  display: flex;
  margin-bottom: 0px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: url("../../asserts/detail_fondo.webp");
  background-position: center;
  background-size: cover;
  flex-direction: column;
}
.imagen {
  width: 500px;
  height: 500px;
  border-radius: 15px;
}
.cocontainer {
  display: flex;
  justify-content: space-between;
}
.genresContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.platformsContainer {
  display: flex;
  justify-content: space-around;
  /* align-content: flex-start; */

  flex-wrap: wrap;
}
.divImagen {
  padding: 10px;
}

.infoContend {
  color: white;
}

.description {
  width: 980px;
  height: auto;
  color: white;
}
