.container {
  display: flex;
  margin-bottom: 0px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: url("../../asserts/fondo_form.jpg");
  background-position: center;
  background-size: cover;
  flex-direction: column;
}
